* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  text-align: center;
} 
.container {
  width: 100%;
  height: 120vh;
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.header-left-content {
  display: flex;
  align-items: center;
  opacity: 0;
  position: relative;
  gap: 10px;
  animation: fall 2s forwards;
}
.header-image {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  padding-left: 1rem;
  width: 75px;
  height: 75px;
  border-radius: 7rem;
  transition: all 1s ease-in-out 0.1s;
}
.header-image:hover {
  transform: rotate(360deg);
}
.header-para {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(220, 4, 220);
  font-family: Poppins, sans-serif;
  transition: 0.3s;
}
.header-para:hover {
  color: black;
  transform: scale(1.05);
}
.header-right-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  padding-right: 3rem;
}
.header-right-content1 {
  font-size: 17px;
  font-weight: 200;
  color: black;
  font-family: poppins, sans-serif;
  opacity: 0;
  position: relative;
  animation: fall 2s forwards;
  transition: 0.1s;
}
#header-btn {
  /* background-color: rgb(0 128 0); */
  background-color: blueviolet;
  padding: 0.7rem 0.8rem;
  border: none;
  border-radius: 2rem;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  opacity: 0;
  position: relative;
  animation: fall 2s forwards;
}
#header-btn:hover{
  text-decoration: underline;
}
@keyframes fall {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.header-left-content {
  animation-delay: 0ms;
}
.header-right-content1:nth-child(1) {
  animation-delay: 0.5s;
}
.header-right-content1:nth-child(2) {
  animation-delay: 1s;
}
.header-right-content1:nth-child(3) {
  animation-delay: 1.5s;
}
.header-right-content1:nth-child(4) {
  animation-delay: 2s;
}
.header-right-content1:nth-child(5) {
  animation-delay: 2.5s;
}
.header-right-content1:hover {
  color: orangered;
}
.content-1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.video-container {
  position: relative;
  height: 130%;
  overflow: hidden;
}
.content1-vdo {
  /* opacity: 0.35 red;
    background-color: rgb(132, 0, 255); */
  /* position: absolute; */
  height: 120vh;
  width: 100%;
  object-fit: cover;
  /* transform: translate(-50%, -50%); */
  z-index: -1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  background-color: rgba(69, 51, 187, 0.5);
  color: white;
  text-align: center;
}
.box {
  margin-top: 15rem;
  background-color: rgba(69, 51, 187, 0.6);
  box-shadow: 0 70px 70px rgba(69, 51, 187, 0.6);
  height: auto;
  width: 100%;
}
.content1-para1 {
  margin-top: 1rem;
  font-size: 1.6rem;
  color: rgb(0, 255, 21);
  font-family: Poppins, sans-serif;
}
.content1-para2 {
  font-size: 1.15rem;
  color: rgb(255, 255, 255);
  font-family: Poppins, sans-serif;
}
.content1-para3 {
  font-size: 1.15rem;
  color: rgb(255, 255, 255);
  font-family: Poppins, sans-serif;
}
.content1-span1 {
  text-decoration: underline;
  text-decoration-color: whitesmoke;
}
.content1-span2 {
  text-decoration: underline;
  text-decoration-color: rgb(255, 255, 255);
}
.chat-btn {
  background-color: rgba(69, 51, 187, 0.6);
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 2rem;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  z-index: 10;
  margin-left: 72rem;
  position: fixed;
  margin-top: 23rem;
}
.chat-btn:hover{
  text-decoration: underline;
}
.buttons {
  margin-top: 8.5rem;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.dummy-btn {
  display: flex;
  flex-direction: column;
}
.download-btn {
  width: 18rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  font-family: Poppins, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(77, 6, 144);
  border: 2px solid rgb(77, 6, 144);
  background-color: white;
}
.download-btn:hover {
  background-color: rgb(77, 6, 144);
  color: white;
}
.dummy-para {
  font-size: 15px;
  color: white;
  font-family: Poppins, sans-serif;
}
.enter-btn {
  width: 18rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  font-family: Poppins, sans-serif;
  border: 1px solid rgb(77, 6, 144);
  font-size: 1.3rem;
  font-weight: 400;
  color: white;
  background-color: black;
}
.enter-btn:hover {
  background-color: rgb(77, 6, 144);
}
.content2 {
  height: 36rem;
  width: 100%;
  background-color: rgb(84, 71, 140);
}
.content2-heading {
  padding-top: 4rem;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 36px;
  word-spacing: 0.1em;
  line-height: normal;
  text-align: center;
}
.content2-box {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin-top: 3rem;
  margin-left: 7rem;
  margin-right: 7rem;
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  scrollbar-width: none;
  height: 20rem;
}
.content2-box-img {
  height: 17rem;
  width: 17rem;
  border-radius: 10rem;
  transition: 0.5s;
}
.content2-box-img:hover {
  opacity: 0.4;
}
.content2-texts {
  display: flex;
  flex-direction: row;
  gap: 7px;
  margin-left: 33.5rem;
  margin-top: 1rem;
}
.content2-span {
  font-size: 13px;
  color: white;
  font-family: Poppins, sans-serif;
}
.content2-para {
  font-size: 13px;
  color: #f29e4c;
  text-decoration: underline;
  text-decoration-color: #f29e4c;
  font-family: Poppins, sans-serif;
}
.content3 {
  height: 36rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.content3-heading {
  padding-top: 4rem;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  color: rgb(84, 71, 140);
  font-size: 36px;
  font-weight: 700;
  word-spacing: 0.1em;
  line-height: 3rem;
  width: 43rem;
  margin-left: 21rem;
  letter-spacing: 2px;
  margin-top: 1rem;
}
.content3-box {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(9, 1fr);
  gap: 1rem;
  margin-top: 4rem;
  margin-left: 7rem;
  margin-right: 7rem;
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  scrollbar-width: none;
  height: 20rem;
}
.content3-box-img {
  height: 18rem;
  width: 18rem;
  transition: 0.5s;
}
.content3-box-img:hover {
  opacity: 0.4;
}
.content3-para {
  font-size: 12px;
  color: #000000;
  font-family: Poppins, sans-serif;
  margin-top: 3rem;
}
.content4 {
  margin-top: 7rem;
  height: 45rem;
  width: 100%;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}
.content4-heading {
  padding-top: 4rem;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-weight: 700;
  word-spacing: 0.1em;
  line-height: 3rem;
  width: 43rem;
  margin-left: 21rem;
  letter-spacing: 2px;
  margin-top: 1rem;
}
.content4-box {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(17, 1fr);
  gap: 1rem;
  margin-top: 4rem;
  margin-left: 7rem;
  margin-right: 7rem;
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  scrollbar-width: none;
  height: 40rem;
}
.content4-box-img {
  height: 25rem;
  transition: 0.5s;
}
.content4-box-img:hover {
  opacity: 0.4;
}
.content5 {
  height: 21rem;
  width: 100%;
  background-color: rgb(199, 199, 199);
}
.content5-heading {
  padding-top: 4rem;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  color: rgb(84, 71, 140);
  font-size: 40px;
  font-weight: 700;
  word-spacing: 0.05em;
  line-height: 3rem;
  width: 43rem;
  margin-left: 21rem;
  letter-spacing: normal;
}
.content5-para {
  margin-top: 2rem;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
  width: 50rem;
  text-align: left;
  margin-left: 17rem;
}
.content5-div {
  background-color: black;
  padding: 0.8rem 2.5rem;
  color: rgb(255, 255, 255);
  letter-spacing: 0.1em;
  font-family: poppins-extralight, poppins, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  border: none;
  border-radius: 2rem;
  margin-top: 3rem;
  margin-left: 27.5rem;
  transition: 0.2s;
}
.content5-div:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
.content6 {
  height: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
} 
.content6-span1 {
  background-color: #8f86b2;
  font-family: poppins-extralight, poppins, sans-serif;
  font-size: 18px;
  font-style: normal;
  padding-top: 1.5rem;
  transition: 0.2s;
}
.content6-span1:hover {
  background-color: #5a47a4;
}
.content6-span2 {
  background-color: rgb(255, 255, 255);
  font-family: poppins-extralight, poppins, sans-serif;
  font-size: 18px;
  font-style: normal;
  padding-top: 1.5rem;
  transition: 0.2s;
}
.content6-span2:hover {
  background-color: #5a47a4;
}
.content7 {
  height: 3rem;
  background-color: #8f86b2;
}
.content8 {
  height: 30.45rem;
  width: 100%;
}
.content8-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.content8-leftbox {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.content8-img {
  height: 100%;
  width: 100%;
}
.content8-box:hover {
  .content8-img {
    transform: scale(1.2);
    transition: 0.4s ease-out;
  }
}
.content8-rightbox{
  height: 100%;
  width: 100%;
  text-align: left;
}
.div1{
  padding: 0.15rem;
  width: 7rem;
  border: 1.5px solid black;
  padding-left: 17px;
  margin-top: 5rem;
  font-family: Poppins, sans-serif;
  margin-left: 4rem;
}
.content8-para1{
  font-size: 1.1rem;
  margin-top: 1.5rem;
  font-family: Poppins, sans-serif;
  margin-left: 4rem;
}
.content8-para2{
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 1rem;
  font-family: Poppins, sans-serif;
  margin-left: 4rem;
}
.content8-para3{
  font-size: 1.1rem;
  line-height: 1.5em;
  max-width: 520px;
  margin-top: 1rem;
  font-family: Poppins, sans-serif;
  margin-left: 4rem;
}
.div2{
  padding: 0.7rem;
  width: 10rem;
  border: 1.5px solid rgb(84, 71, 140);
  color: rgb(84, 71, 140);
  padding-left: 17px;
  margin-top: 1.5rem;
  font-family: Poppins, sans-serif;
  border-radius: 2rem;
  text-align: center;
  font-size: 1.2rem;
  margin-left: 4rem;
}
.div3{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1.3rem;
  margin-left: 4rem;
}
.div3-img{
  height: 1rem;
  width: 1rem;
}
.dummy-div{
  border: 1px solid rgb(62, 25, 225);
  background-color: rgb(84, 71, 140);
  height: 2rem;
}
.content9{
  height: 36rem;
  width: 100%;
}
.content9-box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.content9-leftbox{
  height: 100%;
  width: 100%;
  text-align: left;
}
.DIV1{
  padding: 0.15rem;
  width: 7rem;
  border: 1.5px solid black;
  padding-left: 17px;
  margin-top: 5rem;
  font-family: Poppins, sans-serif;
  margin-left: 4rem;
}
.content9-para1{
  font-size: 1.1rem;
  margin-top: 1.5rem;
  font-family: Poppins, sans-serif;
  margin-left: 4rem;
}
.content9-para2{
  font-size: 2.5rem;
  font-weight: 700;
   max-width: 520px;
  margin-top: 1rem;
  font-family: Poppins, sans-serif;
  margin-left: 4rem;
}
.content9-para3{
  font-size: 1.1rem;
  line-height: 1.5em;
  max-width: 520px;
  margin-top: 1rem;
  font-family: Poppins, sans-serif;
  margin-left: 4rem;
}
.DIV2{
  padding: 0.7rem;
  width: 10rem;
  border: 1.5px solid rgb(84, 71, 140);
  color: rgb(84, 71, 140);
  padding-left: 17px;
  margin-top: 1.5rem;
  font-family: Poppins, sans-serif;
  border-radius: 2rem;
  text-align: center;
  font-size: 1.2rem;
  margin-left: 4rem;
}
.DIV3{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1.3rem;
  margin-left: 4rem;
}
.DIV3-img{
  height: 1rem;
  width: 1rem;
}
.content9-rightbox {
  height: 111%;
  width: 100%;
  overflow: hidden;
}
.content9-img {
  height: 100%;
  width: 100%;
}
.content9-box:hover {
  .content9-img {
    transform: scale(1.1);
    transition: 0.4s ease-out;
  }
}
.dummy-div2{
  border: 1px solid rgb(62, 25, 225);
  background-color: rgb(91, 83, 127);
  height: 40rem;
}
.content-10{
  height: 43rem;
  width: 100%;
  background-color: rgb(73, 61, 126);
}
.content10-heading{
  padding-top: 6rem;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 700;
  word-spacing: 0.05em;
  line-height: 3rem;
  width: 43rem;
  margin-left: 21rem;
  letter-spacing: normal;
}
.content10-div1{
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-top: 5rem;
  margin-left: 36rem;
}
.content10-para1{
  font-size: 1rem;
  font-family: Poppins, sans-serif;
}
.content10-div2{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(1,1fr);
  max-width: 60rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin-top: 3rem;
  margin-left: 12rem;
}
.content10-left{
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.content10-img{
  margin-top: 0.3rem;
  height: 16rem;
  width:23rem;
}
.content10-right{
  height: 100%;
  width: 100%;
  text-align: left;
}
.content10-heading1{
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  margin-top: 3rem;
}
.content10-para1{
  font-size: 1.2rem;
  font-family: Poppins, sans-serif;
  margin-top: 0.56rem;
}
.content10-para2{
  font-size: 1.2rem;
  font-family: Poppins, sans-serif;
  margin-top: 2rem;
}
.content10-div3{
  border: 1px solid rgb(84, 71, 140);
  width: 8rem;
  font-family: Poppins, sans-serif;
  text-align: center;
  padding: 0.5rem;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 71, 140);
  margin-top: 3rem;
}
